LUMPY_HOME=/home/s/spottho1/tmp/build/LUMPY/0.3.1/foss-2020b/lumpy-sv-0.3.1/

LUMPY=/Applic.HPC/Easybuild/skylake/2020b/software/LUMPY/0.3.1-foss-2020b/bin/lumpy
HEXDUMP=/usr/bin/hexdump
SAMBLASTER=/Applic.HPC/Easybuild/skylake/2020b/software/samblaster/0.1.26-GCC-10.2.0/bin/samblaster
SAMBAMBA=/Applic.HPC/Easybuild/skylake/2020b/software/Sambamba/0.8.0-GCC-10.2.0/bin/sambamba
SAMTOOLS=/Applic.HPC/Easybuild/skylake/2020b/software/SAMtools/1.11-GCC-10.2.0/bin/samtools
PYTHON=/Applic.HPC/Easybuild/skylake/2020b/software/Python/3.8.6-GCCcore-10.2.0/bin/python

PAIREND_DISTRO=/home/y/ywang1/soft/lumpy-sv/lumpy-sv-0.3.1/scripts/pairend_distro.py
BAMGROUPREADS=/home/y/ywang1/soft/lumpy-sv/lumpy-sv-0.3.1/scripts/bamkit/bamgroupreads.py
BAMFILTERRG=/home/y/ywang1/soft/lumpy-sv/lumpy-sv-0.3.1/scripts/bamkit/bamfilterrg.py
BAMLIBS=/home/y/ywang1/soft/lumpy-sv/lumpy-sv-0.3.1/scripts/bamkit/bamlibs.py